.main_user {
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
    justify-content: flex-end;
    p{
        margin: 0 1em;
        background: rgba(246, 236, 169, 0.5);
        color: #949393;
        border-radius: 15px;
        padding: 13px 30px;
        line-height: 1.5;
        text-align: justify;
        max-width: 500px;
    }
}